{% extends "base.html" %}
{% block title %}Login{% endblock title %}
{% block navbar %}{% endblock %}
{% block sidebar %}{% endblock sidebar %}

{% block content %}

<div class="container">
  <div id="login">
    <div class="card card-login">
      <div class="card-body">
        <div class="login-title">
          <h1 class="poppins-bold">GEFA SOFT - LOGIN</h1>
        </div>
        <div class="login-form">
          <form action="{% url "login" %}" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-primary" type="submit">Entrar</button>
          </form>
        </div>

    </div>
   
  </div>
  

</div>
{% endblock content %}