{% load static %}
<div class="wrapper">

    {% include 'partials/content_sidebar.html' %}

    <div class="main">
      <nav class="navbar fixed-top navbar-expand navbar-bg-color mb-3 mobile-display">
        <div class="container container-fluid">
          <a class="navbar-brand poppins-bold" href="#">
            {% comment %} <img class="navbar-logo" src="#" alt="#"> {% endcomment %}
            GEFASOFT
          </a>
          <button class="btn btn-rounded btn-outline-success" type="button"><span class="navbar-toggler-icon"></span></button>
        </div>
      </nav>

      <nav class="navbar navbar-expand-lg navbar-bg-color mb-3 desktop-display">
        <div class="container container-fluid">
          <a class="navbar-brand poppins-bold " href="{% url 'index' %}">
            {% comment %} <img class="navbar-logo" src="#" alt="#"> {% endcomment %}
              GEFASOFT
          </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 justify-content-end align-items-center flex-grow-1">
              <li class="nav-item mx-4">
                <div class=" poppins-medium">Olá, <span class="fw-semibold">Administrador</span></div>
              </li>
              <li>
                <form action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="nav-link poppins-medium btn-nav">Sair</button>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <main class="content px-md-3 main-mt">