{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>Cadastrar Produção do Funcionáro {{ funcionario.nome }}</h1>
        <form action="{% url 'create-producao' funcionario.pk %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Cadastrar</button>
            <a href="{% url 'list-producao' funcionario.pk %}" class="btn btn-danger">Cancelar</a>
        </form>
    </div>
{% endblock content %}