{% extends 'base.html' %}
{% block title %}Produção{% endblock title %}
{% block content %}

  <div class="container">
    <div class="card">
      <div class="card-body">

        <h1 class="h2">Produções de {{ funcionario.nome }}</h1>
        <div>
          <a href="{% url 'create-producao' funcionario.pk %}" class="btn btn-success">Registrar produção</a>
          <a href="{% url 'list-funcionarios' %}" class="btn btn-primary">Ver Lista de Funcionários</a>
        </div>

        <div class="tabela">
          {% include "../../partials/producao/list.html" %}
        </div>
        
      </div>
    </div>
  </div>
{% endblock %}
