<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Preço (R$)</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody>
        {% if produtos %}
            {% for produto in produtos %}
                <tr>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.preco }}</td>
                <td>
                    <a href="{% url 'update-produto' produto.pk %}" class="btn btn-warning btn-sm">Atualizar</a>
                    <a href="{% url 'delete-produto' produto.pk %}" class="btn btn-danger btn-sm">Deletar</a>
                </td>
                </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3" class="text-center">Nenhum produto foi cadastrado..</td>
            </tr>

        
        {% endif %}
     
    </tbody>
</table>