{% extends "base.html" %}
{% block title %}Vendas{% endblock title %}
{% block content %}
    <div class="container">
        <h1>Atualizar dados da venda {{ object }}</h1>
        <form action="{% url 'update-funcionario' object.pk %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Atualizar</button>
            <a href="{% url 'list-vendas' %}" class="btn btn-danger">Cancelar</a>
        </form>
    </div>
{% endblock content %}