@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --main-bg-color: #B5B5B5;
  --main-bg2-color: #bfc6ca88;
  --white-color: #f8fbf9;
  --gray-color: #6c757d;
  --black-color: #0E0E0E;
  --green-color: #198754;
  --brown-color: #301814;

  --border-radius: 3px;
  --content-border-radius: 3px;
}

#login{
  text-align: center;
  margin-top: 10rem;
}

.header-card{
  margin-bottom: 1rem;
}
.card-body{
  margin-left: 1em;
  margin-right: 2em;
 
}

.card{
  margin-top: 1rem;
  margin-bottom: 1em;
}

.tabela{
  margin-top: 1em;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--main-bg-color);
}

hr{
  margin: 0;
  border: .1rem solid var(--main-bg2-color);
  opacity: 1;
}

a{
  width: fit-content;
}
strong{
  font-weight: 600;
}
table{
  border: .1rem solid var(--main-bg2-color) !important;
  th, td{
    vertical-align: middle;
  }

}

legend{
  font-size: medium !important;
}
.navbar-bg-color {
  background-color: var(--white-color);
}

.navbar-brand{
  color: var(--brown-color);
}



.active{
  color: var(--white-color) !important;
  background-color: var(--gray-color);
}
.poppins-semi-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--brown-color);
}

.content-background{
  border-radius: var(--content-border-radius);
  background-color: var(--white-color);
  margin-block: 1rem;
  padding: 2rem;
}

.table-background {
  min-height: 400px;
  max-height: auto;
  border-radius: var(--content-border-radius);
  background-color: var(--white-color);
  margin-block: 1rem;
  padding: 2rem;
}

.form-background {
  max-width: 400px;
  border-radius: var(--content-border-radius);
  background-color: var(--white-color);
  margin: 0 auto;
  margin-block: 1rem;
  padding: 2rem;
}

.divider {
  border: 3px solid var(--green-color);
}
.table-group-divider {
  border-top: 2px solid var(--green-color) !important;
}
.content-header p, .content-header label {
  font-size: 1.2rem;
}

.form-control, .form-select{
  padding: .375rem .75rem;
  border-radius: var(--border-radius);
  border: .1rem solid var(--main-bg-color);
  box-shadow: none !important;
  &:focus{
    border: .1rem solid var(--black-color);
  }
}
.form-check-input{
  width: 1.2em;
  height: 1.2em;
  cursor: pointer;
  border-radius: var(--border-radius);
  border: .1rem solid var(--main-bg-color);
  box-shadow: none !important;
  &:focus{
    border-color: .1rem solid var(--black-color);
  }
  &:checked{
    background-color: var(--green-color);
    border-color: var(--green-color);
    &:focus{
      border-color: .1rem solid var(--black-color);
    }
  }
}
.form-select{
  cursor: pointer;
  border-radius: var(--border-radius);
  &:hover{
    border: .1rem solid var(--black-color);
  }
}
.pointer{
  cursor: pointer;
}
.form-box{
  margin-block: .8rem;
}

.asteriskField{
  color: #f45353;
}
.login{
  .asteriskField{
    display: none;
  }
}
.font-10{
  font-size: .9rem;
}


.btn{
  transition: all 0.15s ease-in-out !important;
  border-radius: var(--border-radius);
  &:focus{
    box-shadow: 0px 0px 0px .1rem var(--black-color) !important;
  }
}

.btn-rounded{
  border-radius: 50%;
  width: 2.5rem;
  display: flex;
  justify-content: center;
}

.btn-gap{
  display: flex;
  gap: .7rem;
}


.modal{
  transition: all 0.15s ease-in-out !important;
}

.alert-box{
  max-width: fit-content;
  padding: .5rem .7rem;
  margin: .5rem 0;
  border: .1rem solid var(--main-bg-color);
  border-radius: var(--border-radius);
}

.alert{
  color: var(--black-color) !important;
  border: none !important;
}

.inline-margin{
  .mb-3{
    margin: 0 !important;
  }
}

.breadcrumb{
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  margin: 0;
  padding: .3rem .6rem;
  .breadcrumb-item a{
    color: var(--black-color);
    &:hover{
      color: var(--green-color);
    }
  }
}

.navbar-logo{
  width: 5vh;
  margin-inline: 0.5vh;
  
}

.btn-nav{
  border-radius: var(--border-radius);
  &:hover{
    background-color: var(--gray-color);
  }
}

select[readonly] {
  background: var(--white-color);
  pointer-events: none;
  touch-action: none;
}

.table-responsive{
  overflow-x: visible !important;
}

@media (max-width: 768px){
  .table-responsive{
    overflow-x: auto !important;
  }
}


/*  */


/*  */

/* body {
  max-width: 1250px;
  margin: 40px auto;
  padding: 0 10px;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #444
}

h1,h2,h3 {
  line-height: 1.2
} */

/* @media (prefers-color-scheme: dark) {
  body {
      color:#c9d1d9;
      background: #0d1117
  }
} */
