{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="card">
        <div class="card-body">
          <h1 class="h3">Insumos</h1>

          <form class="d-flex" role="search">
            <input class="form-control me-2 w-50" type="search" placeholder="Buscar insumo.." aria-label="Search">
            <button class="btn btn-success" type="submit">Buscar</button>
            <a href="{% url 'create-insumo' %}" class="btn btn-primary ms-2">Adicionar novo</a>
          </form>

          <div class="tabela">
           {% include "partials/insumos/list.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
