{% extends 'base.html' %}
{% block title %}Funcionários{% endblock title %}
{% block content %}
  <div class="container">
    <div>
      <a href="{% url 'create-funcionario' %}" class="btn btn-primary">Cadastrar funcionário</a>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Funcionário</th>
          <th scope="col">Função</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        {% for fun in funcionarios %}
          <tr>
            <th>{{ fun.pk }}</th>
            <td>{{ fun.nome }}</td>
            <td>{{ fun.funcao }}</td>
            <td>
              <a href="{% url 'list-producao' fun.pk %}" class="btn btn-success">Ver Produções</a>
              <a href="{% url 'list-producao' fun.pk %}" class="btn btn-success">Cadastrar Produção</a>
              <a href="{% url 'update-funcionario' fun.pk %}" class="btn btn-primary">Atualizar</a>
              <a href="{% url 'delete-funcionario' fun.pk %}" class="btn btn-danger">Deletar</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
