{% extends 'base.html' %}
{% block title %}Funcionários{% endblock title %}
{% block content %}
  {% comment %} <div class="container">
    <div>
      <a href="{% url 'create-funcionario' %}" class="btn btn-primary">Cadastrar funcionário</a>
    </div>
    
  </div> {% endcomment %}


  <div class="container">
    <div class="row">
      <div class="card">
        <div class="card-body">
          <h1 class="h3">Funcionários</h1>

          <form class="d-flex" role="search">
            <input class="form-control me-2 w-50" type="search" placeholder="Buscar funcionário.." aria-label="Search">
            <button class="btn btn-success" type="submit">Buscar</button>
            <a href="{% url 'create-funcionario' %}" class="btn btn-primary ms-2">Adicionar novo</a>
          </form>

          <div class="tabela">
           {% include "partials/funcionarios/list.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
