{% extends "base.html" %}
{% block title %}Gasto de Insumos{% endblock  %}
{% block content %}
    <div class="container">
        <h1>Você quer deletar o gasto de insumo {{ object }}?</h1>
        <form action="{% url 'delete-gasto-insumo' object.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Deletar</button>
            <a href="{% url 'list-gasto-insumo' %}" class="btn btn-primary">Cancelar</a>
        </form>
    </div>
{% endblock content %}