{% extends 'base.html' %}
{% block title %}Custos de Insumos{% endblock  %}
{% block content %}
  <div class="container">
    <div class="card">
      <div class="card-body">

        
        <h1 class="h2">Custos com insumos</h1>
        

        <form class="d-flex" role="search">
          <input class="form-control me-2 w-50" type="search" placeholder="Buscar custo.." aria-label="Search">
          <button class="btn btn-success" type="submit">Buscar</button>
          <a href="{% url 'create-gasto-insumo' %}" class="btn btn-warning ms-2">Registrar custo</a>
        </form>
       
        <div class="tabela">
          {% include "../../partials/despesas/insumos/list.html" %}
        </div>

      </div>
    </div>
    
  </div>
{% endblock %}
