{% extends 'base.html' %}
{% block title %}Gasto de Insumos{% endblock  %}
{% block content %}
  <div class="container">
    <div>
      <a href="{% url 'create-gasto-insumo' %}" class="btn btn-primary">Cadastrar Gasto de Insumo</a>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Insumo</th>
          <th scope="col">Quantidade Comprada</th>
          <th scope="col">Total R$</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        {% for gasto in gastos_insumo %}
          <tr>
            <th>{{ gasto.pk }}</th>
            <td>{{ gasto.insumo.tipo }} -  R$ {{ gasto.insumo.preco }}</td>
            <td>{{ gasto.quantidade }}</td>
            <td>{{ gasto.total }}</td>
            <td>
              <a class="btn btn-primary" href="{% url 'update-gasto-insumo' gasto.pk %}">Atualizar</a>
              <a class="btn btn-warning" href="{% url 'delete-gasto-insumo' gasto.pk %}">Deletar</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
