{% extends "base.html" %}
{% block title %}Gasto de Insumos{% endblock  %}
{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h1 class="h2">Atualizar custo com {{ object }}</h1>
                <form action="{% url 'update-gasto-insumo' object.pk %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Atualizar</button>
                    <a href="{% url 'list-gasto-insumo' %}" class="btn btn-danger">Cancelar</a>
                </form>
            </div>
        </div>
        
    </div>
{% endblock content %}