{% extends "base.html" %}
{% block title %}Produtos{% endblock title %}
{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h1>Cadastrar Produto</h1>
                <form action="{% url 'create-produto' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Cadastrar</button>
                    <a href="{% url 'list-produtos' %}" class="btn btn-danger">Cancelar</a>
                </form>

            </div>
        </div>
        
    </div>
{% endblock content %}