{% extends "base.html" %}
{% block title %}Produtos{% endblock title %}
{% block content %}
  <div class="container">
    <div>
      <a href="{% url 'create-produto' %}" class="btn btn-primary">Cadastrar Produto</a>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Preço (R$)</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        {% for produto in produtos %}
          <tr>
            <td>{{ produto.nome }}</td>
            <td>{{ produto.preco }}</td>
            <td>
              <a href="{% url 'update-produto' produto.pk %}" class="btn btn-primary">Atualizar</a>
              <a href="{% url 'delete-produto' produto.pk %}" class="btn btn-danger">Deletar</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}