{% extends "base.html" %}
{% block title %}Produtos{% endblock title %}
{% block content %}
  <div class="container">

    <div class="card">
      <div class="card-body">
        <h1 class="h2">Produtos</h1>

        <form class="d-flex" role="search">
          <input class="form-control me-2 w-50" type="search" placeholder="Buscar produto.." aria-label="Search">
          <button class="btn btn-success" type="submit">Buscar</button>
          <a href="{% url 'create-produto' %}" class="btn btn-primary ms-2">Adicionar novo</a>
        </form>
      
        <div class="tabela">
          {% include "../partials/produtos/list.html" %}
        </div>

      </div>
    </div>
    
  </div>
{% endblock %}