<nav>
  <ul>
    <li>
      <a href="{% url 'index' %}">Inicio</a>
    </li>
    <li>
      <a href="{% url 'list-produtos' %}">Produtos</a>
    </li>
    <li>
      <a href="{% url 'list-insumos' %}">Insumos</a>
    </li>
    <li>
      <a href="{% url 'list-gasto-insumo' %}">Gastos de Insumos</a>
    </li>
    <li>
      <a href="{% url 'list-funcionarios' %}">Funcionários</a>
    </li>
    <li>
      <a href="{% url 'list-vendas' %}">Vendas</a>
    </li>
    {% if request.user.is_authenticated %}
      <li>
        <form action="{% url 'logout' %}" method="post">
          <button type="submit" href="{% url 'logout' %}">Sair</button>
        </form>
      </li>
    {% else %}
      <li>
        <span>Olá, {{request.user}}</span>
      </li>
      <li>
        <a href="{% url 'login' %}">Entrar</a>
      </li>
    {% endif %}
  </ul>
</nav>